<div class="container mt-4">
  <h1 class="mb-4 text-center">My Todos List</h1>

  <div class="card shadow">
    <div class="card-body">
      <table class="table table-hover table-striped align-middle">
        <thead class="table-dark">
          <tr>
            <th>Description</th>
            <th>Target Date</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let todo of todos">
            <td>
              {{ todo.description }}
            </td>

            <td>
              {{ todo.targetDate | date: "dd MMM yyyy" }}
            </td>

            <td>
              <span
                class="badge"
                [ngClass]="todo.done ? 'bg-success' : 'bg-warning text-dark'"
              >
                {{ todo.done ? "Completed" : "Pending" }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
